.jumbotron {
    background-color: cyan;
    color: black;
    margin-top: 40px;
}

footer {
    padding: 10px 10px 10px;
    background-color: purple;
    margin-bottom: 0px;
    margin-top: 10px;
}

.card-hotel {
    flex: 1 200px;
    margin-top: 10px;
}

.btn-reserve {
    width: 100%;
    border-radius: 0px;
}

.footer-addres-icon {
    padding-right: 10px;
}

.tab-content {
    padding-top: 10px;
}