@blue: #42f5e6;

.margenes(@top: 0px, @Bottom: 0px) {
    margin-top: @top;
    margin-bottom: @Bottom;
}

.jumbotron {
    background-color: @blue;
    color: black;
    .margenes(50px, 0px);
}
  
  footer {
    padding: 10px 10px 10px;
    background-color: @blue;
    .margenes(10px, 0px);
}

  .card-hotel {
    flex: 1 200px;
    margin-top: 10px;
    margin-bottom: 0px; }
  
  .btn-reserve {
    width: 100%;
    border-radius: 0px; }
  
  .footer-addres-icon {
    padding-right: 10px; }
  
  .tab-content {
    padding-top: 10px; }
  