$blue: #FFFFFF;
@mixin margenes($top, $Bottom) {
    margin-top: $top;
    margin-bottom: $Bottom;
}

.jumbotron {
    background-color: $blue;
    color: black;
    @include margenes(50px, 0px);
}

footer {
    padding: 10px 10px 10px;
    background-color: $blue;
    @include margenes(10px, 0px);
}

.card-hotel {
    flex: 1 200px;
    @include margenes(10px, 0px);
}

.btn-reserve {
    width: 100%;
    border-radius: 0px;
}

.footer-addres-icon {
    padding-right: 10px;
}

.tab-content {
    padding-top: 10px;
}